process {
    spades_container = 'docker://quay.io/biocontainers/spades:3.15.4--h95f258a_0'
    //withName:spades_meta_PE_nano {
    //    container = spades_container
    //}
}

includeConfig '/home/tfallon/Scripts/nextflow/singularity.nf.config'
includeConfig '/home/tfallon/Scripts/nextflow/report.nf.config'
